h1 {
  background: #212d40;
  width: 430px;
  text-align: center;
  margin-top: 100px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.444);
  color: #eca72c;
}

body {
  margin-top: 140px;
  background-image: url("https://cdn.pixabay.com/photo/2020/09/23/19/58/halloween-5596921_1280.jpg");
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}

section {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background: #d66853;
  color: #212d40;
  width: 400px;
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  margin-top: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.498);
}

input[type="button"] {
  background-color: #364156;
  color: #efd6ac;
  margin-top: 8px;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  font-family: "Chakra Petch", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #212d40;
  color: #d66853;
}

input[type="number"] {
  width: 50px;
  background-color: #efd6ac;
  color: #14213d;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  font-family: "Chakra Petch", sans-serif;
}

#seltab {
  background-color: #364156;
  color: #efd6ac;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

footer {
  font-family: "Chakra Petch", sans-serif;
  color: #eca72c;
}

/* Responsividade para telas menores que 768px (tamanho de celular) */
@media (max-width: 768px) {
    section {
      width: 90%; /* Ocupar 90% da tela no celular */
      padding: 10px; /* Ajustar o padding para ficar mais confortÃ¡vel */
    }
  
    body {
      font-size: 16px; /* Diminuir um pouco o tamanho da fonte */
    }
  
    img {
      width: 150px; /* Diminuir o tamanho da imagem no celular */
      height: 150px;
    }
  }
  
  /* Responsividade para telas menores que 480px (tamanho de celulares muito pequenos) */
  @media (max-width: 480px) {
    header h1 {
      font-size: 20px; /* Reduzir o tamanho do título */
      width: 300px;
    }
  
    body {
      font-size: 15px; /* Diminuir ainda mais o tamanho da fonte */
    }
  
    img {
      width: auto; /* Reduzir ainda mais o tamanho da imagem */
      height: auto;
    }
  
    section {
      width: auto; /* Ocupar toda a largura disponível */
      padding: 5px 10px 15px;
    }
  }
